[report]
omit =
    */python?.?/*
    */site-packages/nose/*
    *__init__*
    */setup.py
    *tests*
    */tests*
    */version.py
    */config.py
    */create_db_schema.py
    */timescale_parallel_copy.py